<!DOCTYPE html>
<html>
<head>
	<title>Pagina Teste</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="UTF-80">
</head>
<body>
	<div class="topo">
	  <div class="areamenus">
		<div class="logo">
			<img src="fotos/logo3.png">
		</div>
		<div class="menus">
	       <ul>
	         <li>Sobre nós</li>
	         <li>Contato</li>
	         <li>Noticias</li>
	         <li>Login</li>
	         <li>Home</li>
	       </ul>
		</div>
	 </div>
	</div>
	<div class="container">
		<div class="menuzinho">
			<ul>
				<li>Principais Notícias</li>
				<li>Novos Produtos</li>
				<li>Blog</li>
			</ul>
		</div>
		<div class="conteudo">
			<div class="titulo">
				<h1>Página Inicial</h1>
			</div>
			<div class="fotoproduto">
				<img src="fotos/logo.png">
			</div>
			<div class="areatexto">
				<h1>Titulo de teste</h1>
				<p>Aqui fica a area de texto da noticia,teste teste teste teste Aqui fica a area de texto da noticia,teste teste teste teste Aqui fica a area de texto Aqui fica a area de texto da noticia,teste teste teste teste Aqui fica a area de texto da noticia,teste teste teste teste Aqui fica a area de texto</p>
			</div>
		</div>
		<div class="conteudo2">
			<div class="titulovideo">
				<h1>Video de Apresentação</h1>
			</div>
			<div class="video">
				<video height="420" width="600" controls>
					<source src="" type="video.mp4"/>
				</video>
			</div>
		</div>
		<div class="rodape">
			<h5>Todos os direitos reservados<br/>
			Saiba mais entrando em contato com o nosso suporte - Atendimento:De Segunda a Sexta - 00H00 as 00h00</h5>
		</div>	 
	</div>
	
</body>
</html>