body{
    background-image:url(../imagens/tavern.jpg);
    background-size: cover;
    color:#fafafa;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.imglogo{
    width:25px;
    height:25px;
}
.navy{
    background-image: url(https://i.pinimg.com/originals/cf/1d/48/cf1d484f9dd923bb43d624c42fd4f9d3.png)
}
.logo{
    font-family:'Times New Roman', Times, serif;
}
#carousel{
    margin-top:1rem;
}
#slidetext1{
    color:#d6001e;
    text-shadow: 4px 4px black;
    background-color: #13121294;
}
#slidetext2{
    color:#d6001e;
    text-shadow: 4px 2px black;
    background-color: #13121294;
}
#slidetext3{
    color:#d6001e;
    text-shadow: 4px 4px black;
    background-color: #13121294;
}
#slidetext4{
    color:#d6001e;
    text-shadow: 4px 2px black;
    background-color: #13121294;
}
.carousel-inner img {
    width: 100%;
    min-height:375px;
    max-height:520px;
  }

  /* Tirando  o texto do carousel quando tiver menor que 600px */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
  .imgdestaques{
      width:100%;
  }
/* .containerdestaques{
    text-shadow: 6px 2px black;
} */
.rodape{
    font-size:12px;
}