<html>
    <head>
        <title>Página Teste</title>
        <meta charset="UTF-8">
        <link href="style.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, user-scalable=no">
    </head>
    <body>
        <header>
            <div class="topo">
                <div class="areamenus">
                    <div class="logo">
                        <a href=""><img src="fotos/logo1.png"></a>
                    </div>
                    <div class="menus">
                        <ul>
                            <li><a href="">Teste</a></li>
                            <li><a href="">Teste</a></li>
                            <li><a href="">Teste</a></li>
                            <li><a href="">Teste</a></li>
                            <li><a href="">Teste</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
            <div class="container">
                <div class="areaconteudo">
                    <div class="titulo">
                        <h1>Vídeo de apresentação</h1>
                    </div>
                    <video controls ></video>
                </div>
                <div class="areaconteudo2">
                    <div class="titulo2">
                        <h1>Nossos serviços</h1>
                    </div>
                    <div class="areaprodutos">
                        <div class="quadrado1">
                            <a href=""><img src="fotos/produto1.png"></a>
                        </div>
                        <div class="quadrado2">
                            <a href=""><img src="fotos/produto1.png"></a>
                        </div>
                        <div class="quadrado3">
                            <a href=""><img src="fotos/produto1.png"></a>
                        </div>
                        <div class="quadrado4">
                            <a href=""><img src="fotos/produto1.png"></a>
                        </div>
                        <div class="quadrado5">
                            <a href=""><img src="fotos/produto1.png"></a>
                        </div>
                        <div class="quadrado6">
                            <a href=""><img src="fotos/produto1.png"></a>
                        </div>
                    </div>
                </div>
                <div class="areaconteudo3">
                    <div class="titulo3">
                        <h1>Últimas Notícias</h1>
                    </div>
                    <div class="areaesquerda">
                        <div class="fotonoticia">
                            <a href=""><img src="fotos/produto1.png"></a>
                        </div>
                        <a href=""><div class="textoesquerda">
                            Aqui o texto da notícia
                        </div></a>
                    </div>
                    <div class="areadireita">
                        <div class="retangulo">
                            <img src="fotos/produto1.png">
                            <div class="retangulotexto">Aqui uma breve descrição</div>
                        </div>
                        <div class="retangulo">
                            <img src="fotos/produto1.png">
                            <div class="retangulotexto">Aqui uma breve descrição</div>
                        </div>
                        <div class="retangulo">
                            <img src="fotos/produto1.png">
                            <div class="retangulotexto">Aqui uma breve descrição</div>
                        </div>
                        <div class="retangulo">
                            <img src="fotos/produto1.png">
                            <div class="retangulotexto">Aqui uma breve descrição</div>
                        </div>
                        <div class="retangulo">
                            <img src="fotos/produto1.png">
                            <div class="retangulotexto">Aqui uma breve descrição</div>
                        </div>
                    </div>
                </div>
                <div class="rodape">
                    Horário de atendimento:De Segunda a Sexta - 00h00 as 00h00
                    Estamos na rua Exemplo numero 0000 Bairro Exemplo - BR
                </div>
            </div>
    </body>
</html>